

#bar {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  background-color: rgb(148, 17, 148);
  font-size: large;
  margin-bottom: 10px;
}

.title {
  color: white;
  margin: 30px;
  font-family: Bookman, URW Bookman L, serif;
  text-align: center;
  font-size: 50px;
}

.title a{
  text-decoration: none;
  color: white;
}

.mission {
  background-image: url("../images/mission_pic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 25px auto;
  height: 400px;
  overflow: hidden;
}

.mission p{
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: white;
}

.leaders {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#container {
  width: 200px;
  max-width: 200px;
  min-width: 250px;
  margin: 10px 20px;
  margin-top: 10vh;
}

#container img {
  width: 100%;
  border-radius: 12px;
  height: 200px;
  object-fit: cover;
}

.card {
  background-color: rgba(108, 66, 136, 0.527);
  padding: 8px;
  border-radius: 12px;
}

.name {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}


.name span{
  font-size: 22px;
}

.card__details p {
  font-size: 14px;
  color: #f9fafc;
  line-height: 150%;
  text-align: center;
}

.card__details {
  padding: 16px 8px 8px 8px;
}

@media screen and (max-width: 480px) {
  .mission p{
    font-size: 2.2rem;
  }
}
