#panel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#panel-container > div {
  border: 3px solid black;
  margin: 10px;
  background-color: #a68ac8;
  display: grid;

  grid-template-rows: 2fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#save {
  grid-row-start: 4;
  grid-column-start: 3;

  grid-row-end: 5;
  grid-column-end: 5;
}
#delete {
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 3;
}
#committee-title {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 5;
}
#committee-title > input {
  width: 100%;
}
#committee-description {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 5;
}
#committee-description > textarea {
  resize: none;
}
button {
  width: 75%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
}
