#google-calendar-div {
    text-align: center;
}

#google-calendar {
    border: solid 1px #777;
    width: 70%;
    height: 50rem;
}

.calendar-h1 {
    text-align: center;
    margin: 5%;
}

@media (max-width: 800px)  {
    #google-calendar {
        width: 90%;
    }
}