/* CSS for entire page */ 
body {
    background-color:#522398; 
}

/* footer styling */ 
footer {
    background-color:black; 
    color:white; 
    text-align:center; 
    padding: 20px 0px 20px 0px; 
}

/* main div styling */
.main-div {
    background-color: #774BAA; 
    width:100%;
    height:auto;
    margin-bottom:-18.5px;
    display:flex;
    border: 2px solid white;
    /* max-width:100%;  */
    /* height:500px; */
}

/* left column styling */
.left-div {
    width: 15%; 
    height:100%; 
    /* background-color: #522398;   */
    background-color: #774BAA;  
    color:white;
    font-size:smaller; 
    text-align:center;
    flex-direction:column; 
    display:flex;
    justify-content: space-between;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.left-div .selection {
    border-bottom:1px solid white;
}
.left-div .side-menu {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

/* right column styling */
.right-div {
    width: 85%; 
    height: 100%;
    background-color: #A68AC8; 
}

/* description styling */
/* .content-div {
    display:flex;
    flex-direction:column;
    background-color: #A68AC8; 
} */

/* right column title section */
.content-title {
    padding: 10px 0px 10px 0px; 
    background-color: #A68AC8;
    color:black;
    width:100%; 
    text-align:center;
    font-size:x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:none;
    /* background-color: #774BAA; */
    /* height:30px;  */
}

/* right column body section */
.content-body {
    padding:5px;
    color:white; 
    text-align:center;
    font-size:large;
    /* background-color: #EAE3F1;  */
}
.content-body div {
    background-color: #774BAA;
    line-height:1.75;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius:8px;
    padding:8px;
}

/* */
.selection:hover {
    cursor:pointer;
}

/* */
#web-dev:hover {
    background-color:#A68AC8;
}
#embedded:hover {
    background-color:#A68AC8;
}
#cyber:hover {
    background-color:#A68AC8;
}
#girls-who-code:hover {
    background-color:#A68AC8;
}
#hardware:hover {
    background-color:#A68AC8;
}

/* Logo image styling */
img.logo {
    margin-top:-20px;
    width:20%; 
    transform:translate(8px, 0px);
}

/* Content image styling */ 
img.content {
    width:40%;
    max-height:400px;
    /* width:22vw; */
    /* height:22vw; */
}

/* CSS styling for screen sizes <= 1000px */
@media (max-width: 1000px) {
    img.logo {
        width:35%; 
    }
    img.content {
        width:75%;
        min-height:300px;
    }
}

/* CSS styling for screen sizes <= 600px */
@media (max-width: 600px) {
    img.logo {
        width:30%; 
        min-height:200px;
    }
    img.content {
        width:100%;
        height:auto;
    }
    .content-title {
        font-size:large;
    }
    .navbar li {
        font-size:12px;
    }
    .navbar ul {
        width:100%;
    }
}
@media (max-width:550px) {
    .left-div .selection {
        font-size:smaller;
    }
}
@media (max-width: 475px) {
    .left-div .selection {
        font-size:smaller;
    }
    .left-div {
        width:25%;
    }
    img.logo {
        width:50vw;
        height:18vw;
        transform:translate(8px, 0px); 
    }
}


/* added 1/19/2022  */

p big {
    color: gold;
}

.left-div div {
    /* border-bottom: 1px solid white; */
    /* border-top: 1px solid white; */
    padding: 20px 0px;
}

@media (max-width:750px) {
    .left-div .selection {
        font-size: small;
        /* border-bottom:1px solid white; */
    }
    .left-div {
        width: 25%;
    }
}