/* CSS needed for blue Background */

/*blue box */
#body1 {
    margin: 0 2px;
    font-size: large;
    background: rgb(45, 243, 78);
    background-repeat: repeat-x;
    background-size: 100%;
    margin-left: 10%;
    font-family: Georgia, "Times New Roman", Times, serif;
  
}


/* big white box */
#bigbox{
  border-radius:20px 20px 20px 20px;
  background: #c7c3e6;
  padding: 20px; 
  width: 1250px;
  height: 2500px; 
  margin-left: 7.25%;
  margin-right: 7.5%;
  
  display: block;
}


/*blue box */
.rcorners1 {

    border-radius: 20px 20px 20px 20px;
    background: #00b7ff;
    padding: 35px; 
    width: 1100px;
    height: 450px; 
    display: block;
    margin-left: 40px;
    margin-top: 100px;
  

    box-shadow: 10px 10px 5px rgb(72, 2, 104);
  }
  
  #rcorners2 {

    border-radius: 5px 20px 5px 20px;
    background: #56087a;
    padding: 28px; 
    width: 1000px;
    height: 380px; 
    /*display: block;*/
    margin-left: 20px;
     margin-right: auto;
    box-shadow: 5px 5px 2px rgb(72, 2, 104);
  }


  /* overflow:hidden; */

  /*slideshow*/
  #unused
  {box-sizing: border-box;}
  body {font-family: Verdana, sans-serif;}
  .mySlides {display: none;}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }


  /* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 10px;
    width: 50px;
    margin: 6px;
    border: 2px solid purple;
    background-color: rgba(187, 187, 187, 0);
    /* border-radius: 50%; */
    border-radius: 10%;
    display: inline-block;
    transition: background-color 2.6s ease;

    /* added feature */
    cursor: pointer;
  }
  
  .active {
    background-color: #56087a;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }



  .projects-img{
    width: 40vw;
    height: 24.75vw;
    border-radius: 8px;
    -moz-box-shadow: inset 10px 10px 50px black;
  -webkit-box-shadow: inset 10px 10px 50px black;
  box-shadow: inset 10px 10px 50px black;
  
    /* box-shadow: inset 10px 10px 5px black; */
 
    
  margin-left:auto;
  margin-right: auto;


    /* max-width: 100%;
    max-height: 100%; */
    display: block;
  }

  
  #rcorners3 {
    border-radius: 1px 1px;
    background: #2d2d2d;
    padding: 20px; 
    width:1125px;
    height: 300px; 
    display: inline-block;
    margin-left: 40px;
    margin-right: auto;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
 
  
  
  
#whitebox1 {

  border-radius: 2px 2px 2px 2px;
  background: #ffffff00;
  padding: 35px; 
  width: 1100px;
  height: 10px; 
  display: block;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 10px 10px 5px rgba(72, 2, 104, 0);
}


  .this1 {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  #whiteblock1 {
    border-radius: 1px;
    background: #ffffff;
    padding: 200px; 
    width: 200px;
    height: 150px; 
    display: inline-block;
    margin-left: 20px;
    

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #whiteblock2{
    border-radius: 1px 1px;
    background: #ffffff;
    padding: 200px; 
    width: 200px;
    height: 150px; 
    margin-left: 10px;
    display: inline-block;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* mouse trail  */
.trail{
  width: 10px;
  height:10px;
  border-radius: 45%;
  border: 3px solid rgb(212, 17, 17);
  background:rgb(10, 218, 255);
  position: fixed;
  animation: come 1s linear forwards;
  opacity: 30%;
  box-shadow: 10px 10px 5px rgb(72, 2, 104);
}
@keyframes come{
  0%{
    transform:scale(0);
  }
  10%{
    transform:scale(1) translateY(0px);
    opacity: 1;
  }
  100%{
    transform:scale(0) translateY(50px);
    opacity:0;
  }
}


/* second slide show */


body {
  font-family: Arial, sans-serif;
  background-color: #2d2d2d;
}

.thecontainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wgh-slider {
  position: relative;
  top: 21%;
  width: 100%;
  transform: translateY(-50%);
}
.wgh-slider__viewport {
  position: relative;
  height: 100%;
  width: 100%;
}
.wgh-slider__viewbox {
  display: block;
  position: relative;
  perspective: 100vw;
  margin: 0 auto;
  width: 33.3333333333%;
  max-width: 280px;
  transform-style: preserve-3d;
  z-index: 0;
}
.wgh-slider__viewbox::before {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  content: "";
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}
.wgh-slider__thecontainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: transform 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.3s;
  transform-style: preserve-3d;
}
.wgh-slider-target {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
input.wgh-slider-target {
  display: none;
}

.wgh-slider-target:first-of-type:last-of-type ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) .wgh-slider-item__trigger {
  display: none;
}
.wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider__thecontainer {
  transform: translateX(0%);
}
.wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider__thecontainer {
  transform: translateX(-50%);
}
.wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider__thecontainer {
  transform: translateX(-100%);
}
.wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider__thecontainer {
  transform: translateX(-150%);
}
.wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider__thecontainer {
  transform: translateX(-200%);
}
.wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider__thecontainer {
  transform: translateX(-250%);
}
.wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider__thecontainer {
  transform: translateX(-300%);
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider__thecontainer {
  transform: translateX(-350%);
}
.wgh-slider-item {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0) rotateY(45deg);
  transition: transform 0.6s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.15s;
}
.wgh-slider-item:nth-child(1) {
  left: 0%;
}
.wgh-slider-item:nth-child(2) {
  left: 50%;
}
.wgh-slider-item:nth-child(3) {
  left: 100%;
}
.wgh-slider-item:nth-child(4) {
  left: 150%;
}
.wgh-slider-item:nth-child(5) {
  left: 200%;
}
.wgh-slider-item:nth-child(6) {
  left: 250%;
}
.wgh-slider-item:nth-child(7) {
  left: 300%;
}
.wgh-slider-item:nth-child(8) {
  left: 350%;
}
.wgh-slider-item__trigger {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  cursor: pointer;
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) .wgh-slider-item__trigger, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) .wgh-slider-item__trigger {
  display: none;
}
.wgh-slider-item__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  transform: scale(0.75);
  transition: transform 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0s;
  z-index: 10;
}
.wgh-slider-item__inner::before, .wgh-slider-item__inner::after {
  display: block;
  position: absolute;
  content: "";
}
.wgh-slider-item__inner::before {
  top: 24px;
  left: 24px;
  bottom: 24px;
  right: 24px;
  z-index: 0;
  transition: transform 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99) 0.15s;
  transform: translate(-24px, 12px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.wgh-slider-item__inner::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 50%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x;
  background-size: 200% 100%;
  background-position: 0% 0%;
  transition: background-position 0.3s linear;
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) .wgh-slider-item__inner, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) .wgh-slider-item__inner {
  transform: scale(1);
  transition-delay: 0.6s;
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) .wgh-slider-item__inner::before {
  transform: translate(0, 24px);
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) .wgh-slider-item__inner::after {
  background-position: -50% 0%;
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) ~ .wgh-slider-item .wgh-slider-item__inner::before, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) ~ .wgh-slider-item .wgh-slider-item__inner::before {
  transform: translate(24px, 12px);
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) ~ .wgh-slider-item .wgh-slider-item__inner::after, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) ~ .wgh-slider-item .wgh-slider-item__inner::after {
  background-position: -100% 0%;
}
.wgh-slider-item-figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.wgh-slider-item-figure__image {
  position: absolute;
  display: block;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 1;
}
.wgh-slider-item-figure__caption {
  position: absolute;
  display: block;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  padding: 24px;
  background-image: linear-gradient(0deg, #000 0%, transparent 100%);
  z-index: 2;
}
.wgh-slider-item-figure__caption a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
}
.wgh-slider-item-figure__caption span {
  display: block;
  font-size: 14px;
  line-height: 16px;
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8), .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7), .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6), .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5), .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4), .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3), .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2), .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) {
  transform: translate3d(0, 0, 0) rotateY(0deg);
  z-index: 9999;
}
.wgh-slider-target:nth-of-type(8):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(8) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(7):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(7) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(6):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(6) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(5):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(5) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(4):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(4) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(3):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(3) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(2):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(2) ~ .wgh-slider-item, .wgh-slider-target:nth-of-type(1):checked ~ .wgh-slider__viewport .wgh-slider-item:nth-child(1) ~ .wgh-slider-item {
  transform: translate3d(0, 0, 0) rotateY(-45deg) !important;
}
