@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.home{
  position: relative;
  width: 100%;
  height: 80vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home:before{
  content: '';
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 90px;
  background: linear-gradient(to top, hsla(279, 82%, 22%, 1) 0%, transparent);
  bottom: 0;
}

.info{
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-100px);
  opacity: 0;
  transition: 0.6s;
}

/* fonts and location for title */

.info .title{
  font-family: 'Kaushan Script', cursive;
  font-size: 9em;
  background: linear-gradient(to right, #4897d7, hsla(279, 82%, 22%, 1) 0%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateX(140px);
  width: 760px;
  height: 215px;
  margin-bottom: 100px;
}

/* title description font*/
.info .paragraph{
  color: #19628b;
  font-size: 1.2em;
  width: 40%;
  margin-bottom: 40px;
}

/* link button font */

.info .btn{
  font-size: 1.3em;
  font-weight: 500;
  text-decoration: none;
  background: linear-gradient(to bottom, hsla(279, 82%, 22%, 1) 0%, #dca0ff);
  color: #fff;
  padding: 10px 35px;
  border-radius: 5px;
  transition: 0.3s;
}

.info .btn:hover{
  transform: scale(1.05);
}

.home img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.home-img2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  object-fit: cover;
  pointer-events: none;
  
}

.home-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 20%;
  object-fit: cover;
  pointer-events: none;
  
}

.content{
  z-index: 10;
  position: relative;
  padding: 90px 100px;
  background: hsla(279, 82%, 22%, 1) 0%;
}

.content h2{
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 10px;
  tab-size:50cm;
}

.content p{
  color: #fff;
  font-size: 1em;
}

.thehead {

  width: 31%;
  height: 80%;
 
  position: absolute;
  bottom: 8px;
  left: 20px;


  
  }
  .thetech {

    width: 30%;
    height: 70%;
   
    position: absolute;
    bottom: 8px;
    right: 16px;
  
  
    
    }

.pyramids{
  z-index: 9;
  transform: translateX(-600px);
  transition: 0.8s;
}


.palace{
  z-index: 9;
  transform: translateX(600px);
  transition: 0.8s;
}

/* .logo, nav{
  transform: translateY(-70px);
  transition: 0.8s;
} */
      




















      





@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body{
  background: #111222;
}

 .one{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: #fff;
  overflow: hidden;
}

.thecontainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}

.main-title{
  font-size: 4em;
  margin-bottom: 50px;
}

.part{
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture{

  width: 300px;
  height: 200px;
}

.part.image{
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.part.image img{
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.part .text-box{
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.part .text-box h3{
  font-size: 2em;
  margin-bottom: 10px;
  color: fff;
}

.media-icons{
  margin-top: 100px;
}

.media-icons a{
  color: white;
  font-size: 2em;
  margin: 60px;
}

.section-title{
  font-size: 3em;
  margin-bottom: 80px;
}

.information-title{
  font-size: 1.8em;
  margin-bottom: 10px;
}

.information{
  width: 40%;
  margin-left: 35%;
  color: #fff;
 
}

.media-information{
  width: 400px;
  margin-left: 50px;
}

.media-information li{
  list-style: none;
  font-size: 1.4em;
}

.media-information li a{
  color:white;
  text-decoration: none;
}

.media-information li:not(:last-child){
  margin-bottom: 50px;
}

.media-information li:nth-child(1), .media-information li:nth-child(5){
  padding-left: 100px;
}

.media-information li:nth-child(2), .media-information li:nth-child(4){
  padding-left: 50px;
}

.sec-03{
  margin-bottom: 100px;
}