.page-nav {
    padding-left: 8%; 
    float:left; 
    margin-top: 29px;
    
}



.merch-a {
    text-decoration: none;
    color: black;

    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color .5s;
    margin-top: 27px;
    
}

  
.merch-a:hover {
    background-color: Purple;
    color:white;
    transition: background-color .5s;
}

.vert-divider {
    border-left: 3px solid black;
    height: 100%;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    top: 0;
}

.merch-h1 {
    margin-left: 90px;
    display: inline;
    float:left;
}
