/* CSS needed for Gradient Background */
body {
    margin: 0;
    font-size: large;
    background: linear-gradient(180deg,
            hsla(0, 0%, 100%, 1) 0%,
            hsla(279, 82%, 22%, 1) 100%);
    background-repeat: repeat-x;
    background-size: cover;
    font-family: Georgia, "Times New Roman", Times, serif;
    min-height: 1000px;
}

details
{
    background-color: #522398;
    color: white;
    font-size: larger;
    
}

/* CSS needed to center an element on the page */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* ////////START OF NAVBAR//////// */
/* formats an unorganized list into a navigation bar that sticks to the top of the page when you scroll past it  */
.navbar ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    padding: 0;
    overflow: hidden;
    background-color: #522398;
    width: 85%;
}
/* Aligns the list horizontally */
.navbar li {
    float: left;
    font-size: 18px;
}
/* formats each nav list item into its own button */
.navbar li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #522398;
}
/* Changes the background color of the button you hover over */
.navbar li a:hover,
.dropdown:hover .dropbtn {
    background-color: #a68ac8;
    color: #eae3f1;
}
/* Sets the background of the link to the page you are currently on */
.navbar #active {
    background-color: #eae3f1;
    color: black;
}
.navbar li.dropdown {
    display: inline-block;
}
.navbar .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.navbar .dropdown-content a {
    color: #eae3f1;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.navbar .dropdown:hover .dropdown-content {
    display: block;
}
/* ////////END OF NAVBAR//////// */

/* Flexbox formatting */
.flexContainer
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.row
{
    flex-direction: row;
}

.twoAcross img
{
    max-width: 50%;
}