
#navbar {
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
    background-color: rgb(190, 61, 230);
}

nav ul {
    margin: 0;
    padding: 8px 0px 8px 0px;
}

nav li {
    display: inline;
    margin: 0px 20px 10px 20px;
}

a {

//About
nav li
{
    display:inline;
    padding:50px;
}
nav ul 
{
    margin: 0px;
    padding: 20px 0px 20px 0px;
}
#bar
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    background-color: rgb(148, 17, 148);
    font-size: large;
    margin-bottom: 10px;
}
a 
{

    text-decoration: none;
    color: white;
}


h1 {
    text-align: center;
    margin: 4%;
}

ul {list-style-type: none;}

body {font-family: Verdana, sans-serif;}

.month {
    padding: 70px 25px;
    width: 96%;
    background: rgb(190, 61, 230);
    text-align: center;
}
  
.month ul {
    margin: 0;
    padding: 0;
}
  
.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
  
.month .prev {
    float: left;
    padding-top: 10px;
}
  
.month .next {
    float: right;
    padding-top: 10px;
}
  
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}
  
.weekdays li {
    display: inline-block;
    width: 13.7%;
    color: #666;
    text-align: center;
}
  
.days {
    padding: 10px;
    background: #eee;
    margin: 0;
}
  
.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.85%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.day {
    height: 100px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.days li .current {
    background: rgb(208, 156, 224);
    color: white !important;
}

.this
{
    color: white;
    margin: 15px;
    font-family: Bookman, URW Bookman L, serif;
    text-align: center;
    font-size:75px ;
}
.center
{
    text-align: center;
    color: white;
}

div
{
    text-align:center;
}
.pic 
{
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.title
{
    color: white;
    margin: 30px;
    font-family: Bookman, URW Bookman L, serif;
    text-align: center;
    font-size:50px ;
}

.innerPicLeft
{
    display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 25%;
  float: left;
}

.nameLeft
{
    color:  purple;
    margin-top: 0px;
    margin-left:5px;
    font-family: Bookman, URW Bookman L, serif;
    font-size:25px ;
    text-align: left;
}

.pLeft
{
    color: white;
    margin-top: 0px;
    margin-left:5px;
    font-family: Bookman, URW Bookman L, serif;
    font-size:15px ;
    text-align: left;
}
.innerPicRight
{
    display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 25%;
  float: right;
}
.nameRight
{
    color: purple;
    margin-top: 0px;
    margin-left:5px;
    font-family: Bookman, URW Bookman L, serif;
    font-size:25px ;
    text-align: right;
}
.pRight
{
    color: white;
    margin-top: 0px;
    margin-left:5px;
    font-family: Bookman, URW Bookman L, serif;
    font-size:15px ;
    text-align: right;
}
   

@import url('http://fonts.googleapis.com/css?family=Raleway:300');
@import url('http://fonts.googleapis.com/css?family=NTR');

a,
a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none;
	color: inherit;
}
body {
	background: black;
	height: 100%;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	height: 97vh;
	width: 97%;
	position: absolute;
	top: 0;
	color: rgb(252, 248, 217);
	font-family: 'NTR', sans-serif;
	font-size: 26px;
}
#wrapper {
	text-align: center;
	line-height: 1.4;
}
#projectlist {
	padding: 100px;
	height: fit-content;
	width: fit-content;
	margin: auto;
}

.resize {
	width: 900px;
	height: auto;
}

.resize {
	width: 900px;
	height: auto;
}
.portal .item {
	width: 250px;
	height: 150px;
	padding: 13px;
	transition: 300ms all ease-in-out;
}
.portal .item img {
	width: 140px;
}
.portal {
	display: inline-block;
	transition: 300ms all ease-in-out;
	top: 0;
}

.portal:hover {
	transform: scale(0.9);
}
.portal .item:hover {
	background: rgba(76, 76, 76, 0.5);
	background-color: (opacity=60);
	filter: alpha(opacity=60);
}
.portal .item h1 {
	color: rgb(252, 248, 217);
	background: transparent;
	text-transform: uppercase;
	font-size: 34px;
	text-decoration: none;
	margin-left: -5px;
	margin-right: -5px;
	top: -50px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	transition: 200ms all ease-in-out;
}
//main

