@import url('http://fonts.googleapis.com/css?family=Raleway:300');
@import url('http://fonts.googleapis.com/css?family=NTR');

a,
a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none;
	color: inherit;
}
body {
	background: black;
	height: 100%;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	height: 97vh;
	width: 97%;
	position: absolute;
	top: 0;
	color: rgb(252, 248, 217);
	font-family: 'NTR', sans-serif;
	font-size: 26px;
}
#wrapper {
	text-align: center;
	line-height: 1.4;
}
#projectlist {
	padding: 100px;
	height: fit-content;
	width: fit-content;
	margin: auto;
}

.resize {
	width: 900px;
	height: auto;
}

.resize {
	width: 900px;
	height: auto;
}
.portal .item {
	width: 250px;
	height: 150px;
	padding: 13px;
	transition: 300ms all ease-in-out;
}
.portal .item img {
	width: 140px;
}
.portal {
	display: inline-block;
	transition: 300ms all ease-in-out;
	top: 0;
}

.portal:hover {
	transform: scale(0.9);
}
.portal .item:hover {
	background: rgba(76, 76, 76, 0.5);
	background-color: (opacity=60);
	filter: alpha(opacity=60);
}
.portal .item h1 {
	color: rgb(252, 248, 217);
	background: transparent;
	text-transform: uppercase;
	font-size: 34px;
	text-decoration: none;
	margin-left: -5px;
	margin-right: -5px;
	top: -50px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	transition: 200ms all ease-in-out;
}
